{
  "ecmaFeatures": {
    "modules": true
  },
  "rules": {
    "semi": [
      2,
      "never"
    ]
  },
  "env": {
    "node": true,
    "mocha": true,
    "es6": true
  },
  "parser": "babel-eslint"
}
